<!-- <div *ngIf="tmer">
  <p>{{tmer._id}}</p>
  <p>{{tmer.title}}</p>
  <p>{{tmer.city}}</p>
  <p>{{tmer.street}}</p>
  <p>{{tmer.category}}</p>
  <p>{{tmer.description}}</p>
  <p>{{tmer.dailyRate}} $</p>

</div>
 -->

 <section id="tmerDetails" *ngIf="tmer">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-8">
        <img src="{{tmer.image}}" alt="">
      </div>
      <div class="col-md-4">
        <!-- Will be replaced with map !!!! -->
        <!-- <img src="{{tmer.image}}" alt=""> -->
        <bwm-map [location]="tmer.city + ', ' + tmer.street"></bwm-map>
      </div>
    </div>
  </div>
  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="tmer">
          <h2 class="tmer-type {{tmer.category}}">{{tmer.shared ? 'Available' : 'No available'}} {{tmer.category}}</h2>
          <h1 class="tmer-title">{{tmer.title}}</h1>
          <h2 class="tmer-city">{{tmer.city | uppercase}}</h2>
          <div class="tmer-room-info">
            <span><i class="fa fa-globe"></i>{{tmer.bedrooms}} Languages</span>
           
          </div>
          <p class="tmer-description">
            {{tmer.description}}
          </p>
          <hr>
          <div class="tmer-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-asterisk"></i> Spontaneous</span>
                <span><i class="fa fa-thermometer"></i> Cool</span>
                <span><i class="fa-regular fa-glasses"></i> Easy-Person</span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-cube"></i> Keen</span>
                <span><i class="fa fa-cube"></i> Friendly</span>
                <span><i class="fa fa-cube"></i> Sportive</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <bwm-tmer-detail-booking [price]="tmer.dailyRate"></bwm-tmer-detail-booking>

      </div>
    </div>
  </div>
</section>

 